[user]
  name = gmnr
  email = guido.minieri@gmail.com

[alias]
  l = log --pretty=format:"\"%C(yellow)%h %Cgreen%ad %Cblue[%cn] %C(auto)%d %Creset%s\"" --decorate --date=short
  ll = log --pretty=format:"\"%C(yellow)%h %Cgreen%cd %Cblue[%cn] %C(auto)%d %Creset%s\"" --graph --date=relative --decorate --all
  dd = diff
  ss = status
  sh = show
  au = add -u
  pu = push origin master
  cm = commit -m
  co = checkout
  br = branch -v
  rb = rebase -i

[interactive]
  diffFilter = delta --color-only --features=interactive

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[delta]
  features = decorations
  navitate = true
  line-numbers = true
  side-by-side = true
  true-color = always
  syntax-theme = tokyonight_storm
  minus-style                   = syntax "#3f2d3d"
  minus-non-emph-style          = syntax "#3f2d3d"
  minus-emph-style              = syntax "#763842"
  minus-empty-line-marker-style = syntax "#3f2d3d"
  line-numbers-minus-style      = "#914c54"
  plus-style                    = syntax "#283b4d"
  plus-non-emph-style           = syntax "#283b4d"
  plus-emph-style               = syntax "#316172"
  plus-empty-line-marker-style  = syntax "#283b4d"
  line-numbers-plus-style       = "#449dab"
  line-numbers-zero-style       = "#3b4261"
  ; minus-style                   = syntax "#3f2d3d"
  ; minus-non-emph-style          = syntax "#3f2d3d"
  ; minus-emph-style              = syntax "#763842"
  ; minus-empty-line-marker-style = syntax "#3f2d3d"
  ; line-numbers-minus-style      = "#b2555b"
  ; plus-style                    = syntax "#283b4d"
  ; plus-non-emph-style           = syntax "#283b4d"
  ; plus-emph-style               = syntax "#316172"
  ; plus-empty-line-marker-style  = syntax "#283b4d"
  ; line-numbers-plus-style       = "#266d6a"
  ; line-numbers-zero-style       = "#3b4261"

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[core]
  pager = delta
  excludesfile = /Users/guido/.gitexcludes
  editor = nvim

[credential]
  helper = osxkeychain
