[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
    ignore = dirty
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
    ignore = dirty
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
    ignore = dirty
[submodule ".vim/bundle/incsearch.vim"]
	path = .vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
    ignore = dirty
[submodule ".vim/bundle/onedark.vim"]
	path = .vim/bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
    ignore = dirty
[submodule ".vim/bundle/vim-easy-align"]
	path = .vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
    ignore = dirty
[submodule ".vim/bundle/python-syntax"]
	path = .vim/bundle/python-syntax
	url = https://github.com/vim-python/python-syntax.git
    ignore = dirty
[submodule ".vim/bundle/targets.vim"]
	path = .vim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
    ignore = dirty
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
    ignore = dirty
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
    ignore = dirty
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
    ignore = dirty
