snippet date "YYYY-MM-DD" wA
`!v strftime("%Y-%m-%d")` 
endsnippet

snippet stash "snippet for stash" wA
assets:cash:stash
endsnippet

snippet cash "snippet for cash" wA
assets:cash
endsnippet

snippet fineco "snippet for fineco" wA
assets:bank:fineco
endsnippet

snippet paypal "snippet for paypal" wA
assets:paypal
endsnippet

snippet tfr "snippet for tfr" wA
assets:tfr
endsnippet

snippet DOT "snippet for DOT" wA
assets:investments:crypto:DOT  
endsnippet

snippet IUSA "snippet for IUSA" wA
assets:investments:etf:IUSA  
endsnippet

snippet VWCE "snippet for VWCE" wA
assets:investments:etf:VWCE  
endsnippet

snippet backpay "snippet for backpay" wA
assets:long-term:back-pay  
endsnippet

snippet along "snippet for along" wA
assets:long-term:
endsnippet

snippet ashort "snippet for ashort" wA
assets:short-term:
endsnippet

snippet split "snippet for split" wA
liabilities:short-term:splitwise:
endsnippet

snippet fedesp "snippet for fede" wA
liabilities:short-term:splitwise:federica-ponzo  
endsnippet

snippet short "snippet for short" wA
liabilities:short-term:
endsnippet

snippet long "snippet for long" wA
liabilities:long-term:
endsnippet

snippet dividends "snippet for dividends" wA
income:dividends  
endsnippet

snippet igifts "snippet for igifts" wA
income:gifts  
endsnippet

snippet iother "snippet for iother" wA
income:other  
endsnippet

snippet refunds "snippet for refunds" wA
income:refunds  
endsnippet

snippet salary "snippet for salary" wA
income:salary  
endsnippet

snippet depreciation "snippet for depreciation" wA
expenses:transportation:car:depreciation  
endsnippet

snippet enter "snippet for enter" wA
expenses:entertainment  
endsnippet

snippet sport "snippet for sport" wA
expenses:entertainment:sport  
endsnippet

snippet events "snippet for events" wA
expenses:entertainment:events  
endsnippet

snippet subs "snippet for subs" wA
expenses:entertainment:subscriptions  
endsnippet

snippet delivery "snippet for delivery" wA
expenses:food/bev:delivery  
endsnippet

snippet drinks "snippet for drinks" wA
expenses:food/bev:drinks  
endsnippet

snippet eat "snippet for eat" wA
expenses:food/bev:eating-out  
endsnippet

snippet snack "snippet for snack" wA
expenses:food/bev:snacks  
endsnippet

snippet groceries "snippet for groceries" wA
expenses:food/bev:groceries  
endsnippet

snippet gifts "snippet for gifts" wA
expenses:gifts  
endsnippet

snippet health "snippet for health" wA
expenses:health  
endsnippet

snippet supplies "snippet for supplies" wA
expenses:housing:supplies  
endsnippet

snippet stay "snippet for stay" wA
expenses:housing:stay  
endsnippet

snippet electricity "snippet for electricity" wA
expenses:housing:utilities:electricity  
endsnippet

snippet gas "snippet for gas" wA
expenses:housing:utilities:gas  
endsnippet

snippet internet "snippet for internet" wA
expenses:housing:utilities:internet  
endsnippet

snippet rent "snippet for rent" wA
expenses:housing:rent  
endsnippet

snippet other "snippet for other" wA
expenses:other  
endsnippet

snippet clothing "snippet for clothing" wA
expenses:purchases:clothing  
endsnippet

snippet tech "snippet for tech" wA
expenses:purchases:tech  
endsnippet

snippet books "snippet for books" wA
expenses:purchases:books  
endsnippet

snippet music "snippet for music" wA
expenses:purchases:music  
endsnippet

snippet videogames "snippet for videogames" wA
expenses:purchases:videogames  
endsnippet

snippet commissions "snippet for commissions" wA
expenses:taxes:commissions  
endsnippet

snippet f24 "snippet for f24" wA
expenses:taxes:f24  
endsnippet

snippet fees "snippet for fees" wA
expenses:taxes:fees  
endsnippet

snippet boat "snippet for boat" wA
expenses:transportation:other:boat  
endsnippet

snippet bus "snippet for bus" wA
expenses:transportation:other:bus  
endsnippet

snippet fuel "snippet for fuel" wA
expenses:transportation:car:fuel  
endsnippet

snippet insurance "snippet for insurance" wA
expenses:transportation:car:insurance  
endsnippet

snippet parking "snippet for parking" wA
expenses:transportation:car:parking  
endsnippet

snippet plane "snippet for plane" wA
expenses:transportation:plane  
endsnippet

snippet public "snippet for public" wA
expenses:transportation:other:public  
endsnippet

snippet sharing "snippet for sharing" wA
expenses:transportation:sharing  
endsnippet

snippet taxi "snippet for taxi" wA
expenses:transportation:other:taxi  
endsnippet

snippet toll "snippet for toll" wA
expenses:transportation:car:tolls  
endsnippet

snippet train "snippet for train" wA
expenses:transportation:train  
endsnippet
