snippet date "YYYY-MM-DD" wA
`!v strftime("%Y-%m-%d")` 
endsnippet

snippet cash "snippet for cash" wA
assets:cash
endsnippet

snippet fineco "snippet for fineco" wA
assets:bank:fineco
endsnippet

snippet paypal "snippet for paypal" wA
assets:paypal
endsnippet

snippet backpay "snippet for backpay" wA
assets:long-term:back-pay  
endsnippet

snippet along "snippet for along" wA
assets:long-term:
endsnippet

snippet ashort "snippet for ashort" wA
assets:short-term:
endsnippet

snippet split "snippet for split" wA
liabilities:short-term:splitwise:
endsnippet

snippet fedesp "snippet for fede" wA
liabilities:short-term:splitwise:federica-ponzo  
endsnippet

snippet short "snippet for short" wA
liabilities:short-term:
endsnippet

snippet long "snippet for long" wA
liabilities:long-term:
endsnippet

snippet refunds "snippet for reimbursement" wA
revenues:reimbursement  
endsnippet

snippet events "snippet for events" wA
expenses:entertainment:events  
endsnippet

snippet delivery "snippet for delivery" wA
expenses:food-bev:delivery  
endsnippet

snippet drinks "snippet for drinks" wA
expenses:food-bev:drinks  
endsnippet

snippet eat "snippet for eat" wA
expenses:food-bev:eating-out  
endsnippet

snippet snack "snippet for snack" wA
expenses:food-bev:snacks  
endsnippet

snippet groceries "snippet for groceries" wA
expenses:food-bev:groceries  
endsnippet

snippet gifts "snippet for gifts" wA
expenses:gifts  
endsnippet

snippet supplies "snippet for supplies" wA
expenses:housing:supplies  
endsnippet

snippet stay "snippet for stay" wA
expenses:housing:stay  
endsnippet

snippet cleaning "snippet for cleaning" wA
expenses:housing:cleaning  
endsnippet

snippet rent "snippet for rent" wA
expenses:housing:rent  
endsnippet

snippet other "snippet for other" wA
expenses:other  
endsnippet

snippet fees "snippet for capital-gain" wA
expenses:taxes:capital-gain  
endsnippet

snippet fuel "snippet for fuel" wA
expenses:transportation:car:fuel  
endsnippet

snippet public "snippet for public" wA
expenses:transportation:other:public  
endsnippet

snippet sharing "snippet for sharing" wA
expenses:transportation:sharing  
endsnippet

snippet taxi "snippet for taxi" wA
expenses:transportation:other:taxi  
endsnippet

snippet e'' "accented e" iA
è
endsnippet

snippet e"" "other accented e" iA
é
endsnippet

snippet a'' "accented a" iA
à
endsnippet

snippet i'' "accented i" iA
ì
endsnippet

snippet o'' "accented o" iA
ò
endsnippet

snippet u'' "accented u" iA
ù
endsnippet
