snippet stash
assets:cash:stash
endsnippet

snippet cash
assets:cash
endsnippet

snippet fineco
assets:bank:fineco
endsnippet

snippet paypal
assets:paypal
endsnippet

snippet tfr
assets:tfr
endsnippet

snippet DOT
assets:investments:crypto:DOT  
endsnippet

snippet IUSA
assets:investments:etf:IUSA  
endsnippet

snippet VWCE
assets:investments:etf:VWCE  
endsnippet

snippet backpay
assets:long-term:back-pay  
endsnippet

snippet along
assets:long-term:
endsnippet

snippet ashort
assets:short-term:
endsnippet

snippet split
liabilities:short-term:splitwise:
endsnippet

snippet fede
liabilities:short-term:splitwise:federica-ponzo  
endsnippet

snippet short
liabilities:short-term:
endsnippet

snippet long
liabilities:long-term:
endsnippet

snippet dividends
income:dividends  
endsnippet

snippet igifts
income:gifts  
endsnippet

snippet iother
income:other  
endsnippet

snippet refunds
income:refunds  
endsnippet

snippet salary
income:salary  
endsnippet

snippet depreciation
expenses:transportation:car:depreciation  
endsnippet

snippet enter
expenses:entertainment  
endsnippet

snippet sport
expenses:sport  
endsnippet

snippet subs
expenses:subscriptions  
endsnippet

snippet delivery
expenses:food/bev:delivery  
endsnippet

snippet drinks
expenses:food/bev:drinks  
endsnippet

snippet eat
expenses:food/bev:eating-out  
endsnippet

snippet snack
expenses:food/bev:snacks  
endsnippet

snippet groceries
expenses:food/bev:groceries  
endsnippet

snippet gifts
expenses:gifts  
endsnippet

snippet health
expenses:health  
endsnippet

snippet supplies
expenses:housing:supplies  
endsnippet

snippet stay
expenses:housing:stay  
endsnippet

snippet electricity
expenses:housing:utilities:electricity  
endsnippet

snippet gas
expenses:housing:utilities:gas  
endsnippet

snippet internet
expenses:housing:utilities:internet  
endsnippet

snippet rent
expenses:housing:rent  
endsnippet

snippet other
expenses:other  
endsnippet

snippet clothing
expenses:purchases:clothing  
endsnippet

snippet tech
expenses:purchases:tech  
endsnippet

snippet books
expenses:purchases:books  
endsnippet

snippet music
expenses:purchases:music  
endsnippet

snippet videogames
expenses:purchases:videogames  
endsnippet

snippet commissions
expenses:taxes:commissions  
endsnippet

snippet f24
expenses:taxes:f24  
endsnippet

snippet fees
expenses:taxes:fees  
endsnippet

snippet boat
expenses:transportation:other:boat  
endsnippet

snippet bus
expenses:transportation:other:bus  
endsnippet

snippet fuel
expenses:transportation:car:fuel  
endsnippet

snippet insurance
expenses:transportation:car:insurance  
endsnippet

snippet parking
expenses:transportation:car:parking  
endsnippet

snippet plane
expenses:transportation:plane  
endsnippet

snippet public
expenses:transportation:other:public  
endsnippet

snippet sharing
expenses:transportation:sharing  
endsnippet

snippet taxi
expenses:transportation:other:taxi  
endsnippet

snippet toll
expenses:transportation:car:toll  
endsnippet

snippet train
expenses:transportation:train  
endsnippet
