snippet e'' "accented e" iA
è
endsnippet

snippet e"" "other accented e" iA
é
endsnippet

snippet a'' "accented a" iA
à
endsnippet

snippet i'' "accented i" iA
ì
endsnippet

snippet o'' "accented o" iA
ò
endsnippet

snippet u'' "accented u" iA
ù
endsnippet

snippet "  " "line break" riA
<br>
endsnippet

