snippet pp
print($1)
endsnippet

snippet pl
print($1, sep='\n')
endsnippet

snippet exit
import sys; sys.exit()
endsnippet

snippet defaultdict
from collections import defaultdict as dd
endsnippet

snippet Counter
from collections import Counter
endsnippet

snippet deque
from collections import deque
endsnippet

snippet collections
from collections import $1
endsnippet

snippet itertools
from itertools import $1
endsnippet
